<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="nautilus">

    <xacro:arg name="namespace" default="nautilus" />
    <xacro:property name="namespace" value="$(arg namespace)" scope="global" />


    <xacro:property name="deg" value="${pi/180}" />

    <!-- the location of the seapath reporting point relative to the parker survey -->
    <xacro:property name="rp_x" value="-0.359" />
    <xacro:property name="rp_y" value="34.383" />
    <xacro:property name="rp_z" value="0.013" />


    <link name="${namespace}/base_link"></link>

    <link name="${namespace}/parker">
        <visual>
            <geometry>
                <mesh filename="package://nauti_ros/meshes/Nautilus_360.dae" scale="3.28084 3.28084 3.28084"/>
            </geometry>
            <origin rpy="0 0 ${0*deg}" xyz="0 51.5 -6"/>
        </visual>
    </link>

    <link name="${namespace}/mp2"></link>

    <joint name="base_parker" type="fixed">
      <parent link="${namespace}/base_link"/>
      <child link="${namespace}/parker"/>
          <origin xyz="${-rp_y} ${rp_x} ${-rp_z}" rpy="0 0 ${-90*deg}" />
    </joint>

    <joint name="parker_mp2" type="fixed">
      <parent link="${namespace}/parker"/>
      <child link="${namespace}/mp2"/>
          <origin xyz="-0.359 34.383 0.013" rpy="0 0 0" />
    </joint>


</robot>

